@import "../../../styles.scss";
@media only screen and (max-width: 650px) {
    #titulo {
        margin-top: 1.5% !important;
        width:200px !important;
        height:75px !important;
    }
}
.title{
    text-align: right;
    color: white;
    position: relative;
    background-color: $secondary;
}
#compartir{
    padding-top: 5px;
}
.menubar{
    background-color: $primary;
    position: relative;
    height: 80px;
    line-height: 80px;
}
.menubar i{
    line-height: 78px;
    margin-left: 4px;
}
.nav-wrapper a{
    font-size: 1.1rem !important;
}
#titulo{
    background-image:url('../../../assets/img/LMH_LOGO.png');
    width:300px;
    height:114px;
    margin-top: -38px;
    background-size: cover;
}
