<div class="title">
  <div class="container">
      <div id="compartir"> 
      <a href=""><img src="../../../assets/img/fb_ico.png"></a>
      <a href=""><img src="../../../assets/img/instagram_ico.png"></a>  
      <a href=""><img src="../../../assets/img/twitter_ico.png"></a>         
      </div>
  </div>
</div>
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Español</a></li>
  <li class="divider"></li>
  <li><a href="#!">Bilingüe</a></li>
</ul>
<nav class="menubar">
  <div class="nav-wrapper container">    
    <a [routerLink]="['/']" class="brand-logo"><h1 id="titulo"></h1></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a [routerLink]="['/']">Inicio</a></li>
      <li><a href="badges.html">Nosotros</a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Oferta Académica<i class="material-icons right">arrow_drop_down</i></a></li>      
      <li><a [routerLink]="['Servicios']">Servicios</a></li>
      <li><a href="mobile.html">Moodle</a></li>      
    </ul>
    <ul class="side-nav" id="mobile-demo">
        <li><a [routerLink]="['/']">Inicio</a></li>
        <li><a href="badges.html">Nosotros</a></li>
        <li><a href="collapsible.html">Campus</a></li>
        <li><a [routerLink]="['Servicios']">Servicios</a></li>
        <li><a href="mobile.html">Moodle</a></li> 
    </ul>
  </div>
</nav>
