<div style="height:60vh; background-image: url(http://unicah.edu//imgs/becas1.jpg);background-size:cover;background-attachment:fixed;">
  <div class="TitlePrograma center">
    <h1 style="margin: 0;">Nuestros Servicios</h1>
    <p class="flow-text">Escuche a los Googlers, socios y oradores invitados que están construyendo el futuro de la nube. Vuelva a consultar a menudo a medida que agregamos más oradores, incluidos nuestros clientes y socios.</p>
  </div>
</div>
<div class="container servicios">
<div class="row center">
  <div class="col s12 l3 height border-b">
    <img src="../../../assets/img/servicios/barberia.png">
    <h5><strong>Barbería</strong></h5>
    <p>El liceísta militar puede hacer uso de este servicio cualquier día de la semana, el pago ya está incluido en la mensualidad.</p>
  </div>
  <div class="col s12 l3 height border-b">
      <img src="../../../assets/img/servicios/enfermeria.png">
      <h5><strong>Enfermería</strong></h5>
      <p>Es una clínica piloto dentro de las instalaciones donde se encuentra un enfermero auxiliar, esta es un filtro o diagnóstico antes de trasladar a algún estudiante al hospital militar.</p>
  </div>
  <div class="col s12 l3 height border-b">
      <img src="../../../assets/img/servicios/internado.png">
      <h5><strong>Internado/Varones</strong></h5>
      <p>Se brinda alojamiento al personal de liceístas militares que reside fuera del departamento de Cortes, este servicio incluye: alojamiento, cama, baños servicio sanitario, televisión, aseo de ropa, closet y alimentación.</p>
  </div>    
  <div class="col s12 l3 height border-b">
      <img src="../../../assets/img/servicios/labs.png">
      <h5><strong>Laboratorios Inglés-Informática</strong></h5>
      <p>Son herramientas donde se afianza el conocimiento de los alumnos, en las clases de inglés y computación.</p>
  </div>   
</div>
<div class="row center">
    <div class="col s12 l3 height border-b">
      <img src="../../../assets/img/servicios/psicologia.png">
      <h5><strong>Orientación y Psicología</strong></h5>
      <p>Se brinda atención psicológica en las siguientes áreas: Terapia de pareja, Consejería, Terapia ocupacional, Terapia familiar, Terapia cognitiva-conductual, Manejo de ira, Depresión, Ansiedad y Tratamiento de drogadicción.</p>
    </div>
    <div class="col s12 l3 height border-b">
        <img src="../../../assets/img/servicios/seguridad.png">
        <h5><strong>Instalaciones Seguras</strong></h5>
        <p>El instituto cuanta con instalaciones óptimas que garantizan la seguridad de los liceístas militares. Además, cuenta con ambiente climatizado y áreas deportivas.</p>
    </div>
    <div class="col s12 l3 height border-b">
        <img src="../../../assets/img/servicios/seguro_medico.png">
        <h5><strong>Seguro contra accidentes</strong></h5>
        <p>Servicio que brinda el instituto a sus alumnos en todas las áreas hospitalarias como: consulta externa, emergencia, hospitalización y cualquier área especial, siempre y cuando, tenga cobertura el techo comprendido en un rango de L. 30,000.00</p>
    </div>    
    <div class="col s12 l3 height border-b">
        <img src="../../../assets/img/servicios/transporte.png">
        <h5><strong>Transporte</strong></h5>
        <p>Es la flota vehicular encargada de trasladar a los liceístas militares desde su casa hasta el colegio y viceversa, este servicio es voluntario. Además,se cuenta con seguridad de un efectivo militar de la 105 brigada de infantería.</p>
    </div>   
  </div>
</div>