<div>
<slideshow [height]='height'
            [showDots]='true'
            [minHeight]="'525px'"
            [autoPlay]='true'
            [showArrows]='true'
            [imageUrls]='imageUrlArray'
            [lazyLoad]='imageSources?.length > 1'
            [autoPlayWaitForLazyLoad]='true'>
</slideshow>
<div class="divider"></div>
<div class="center somos">
<div class="section z-depth-5">
    <h3>SOMOS</h3>
    <p class="flow-text">Escuche a los Googlers, socios y oradores invitados que están construyendo el futuro de la nube. Vuelva a consultar a menudo a medida que agregamos más oradores, incluidos nuestros clientes y socios.</p>    
    <div class="row container"> 
            <div class=" col l4 s4">
                <img src="http://unicah.edu/imgs/campus.png" style="opacity:0.9">
                <span class="num">11</span>
                <span style="color: #fbe782;top:1.5em">Campus<span>
                </span></span>
            </div>
            <div class=" col l4 s4">
                <img src="http://unicah.edu/imgs/graduado.png" style="opacity:0.9">
                <span class="num">11</span>
                <span style="color: #fbe782;top:1.5em">Campus<span>
                </span></span>
            </div>
            <div class=" col l4 s4">
                <img src="http://unicah.edu/imgs/estudiante.png" style="opacity:0.9">
                <span class="num">11</span>
                <span style="color: #fbe782;top:1.5em">Campus<span>
                </span></span>
            </div>
    </div>
    <div class="row container"> 
        <div class=" col l4 s4">
            <img src="http://unicah.edu/imgs/docente.png" style="opacity:0.9">
            <span class="num">11</span>
            <span style="color: #fbe782;top:1.5em">Campus<span>
            </span></span>
        </div>
        <div class=" col l4 s4">
            <img src="http://unicah.edu/imgs/campus.png" style="opacity:0.9">
            <span class="num">11</span>
            <span style="color: #fbe782;top:1.5em">Campus<span>
            </span></span>
        </div>
        <div class=" col l4 s4">
            <img src="http://unicah.edu/imgs/campus.png" style="opacity:0.9">
            <span class="num">11</span>
            <span style="color: #fbe782;top:1.5em">Campus<span>
            </span></span>
        </div>
    </div>  
</div>
      
</div>

</div>