/* You can add global styles to this file, and also import other style files */
$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);
$primary: #11724df1;
$secondary: #54854e;
